@b CharactersLisPage {
  composes: flex gap-16 from global;
  @e heroes-title {
    composes: text-2xl font-semibold mb-4 from global;
  }
  @e characters-container {
    composes: w-6/12 from global;
  }
  @e heroes-container {
    composes: w-6/12 from global;
  }
  @e characters-title {
    composes: text-2xl font-semibold mb-4 from global;
  }
}
