@b header {
  @e wrapper {
    composes: flex items-center mx-auto from global;
  }
  @e start {
    composes: text-green-700 from global;
  }
  @e center {
    composes: text-red-700 from global;
  }
  @e end {
    composes: text-blue-700 from global;
  }
}
