@b header {
  @e wrapper {
    composes: flex items-center mx-auto from global;
  }
  @e start-slot {
    composes: mr-auto from global;
  }
  @e center-slot {
    composes: flex-auto from global;
  }
  @e end-slot {
    composes: ml-auto from global;
  }
}
