@import "./1-settings/index.pcss";
@import "./2-design-tokens/index.pcss";

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@import "./7-utilities/index.pcss";
@tailwind utilities;
