Layout {
  composes: min-h-screen from global;
}
Content {
  composes: px-4 from global;
}
Footer {
  composes: bg-primary-900 from global;
}
NavMenu {
  composes: bg-primary-900 from global;
}
PageHeader {
  composes: bg-primary-300 from global;
}
