@b Layout {
  composes: min-h-screen from global;
  @e Content {
    composes: p-8 from global;
  }
  @e Footer {
    composes: bg-primary-900 from global;
  }
  @e NavMenu {
    composes: bg-primary-900 from global;
  }
}
