@b Layout {
  composes: min-h-screen from global;
  @e Content {
    composes: px-8 from global;
  }
  @e Header {
    /*composes: from global;*/
  }
  @e Footer {
    composes: bg-primary-400 from global;
  }
  @e NavMenu {
    composes: bg-primary-900 from global;
  }
  @e PageHeader {
    composes: bg-primary-300 from global;
  }
}
